@model List<DataTables.Models.Employee.EmployeeModel>

<a class="btn btn-primary mb-3" asp-controller="Employee" asp-action="AddEmployee">Add Employee</a>
<table class="table">
    <thead>
        <tr>
            <th>EID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>PhoneNo</th>
            <th>Hire Date</th>
            <th>Job Title</th>
            <th>Salary</th>
            <th>DepID</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var e in Model)
            {
                <tr>
                    <td>@e.EID</td>
                    <td>@e.FirstName</td>
                    <td>@e.LastName</td>
                    <td>@e.Email</td>
                    <td>@e.PhoneNumber</td>
                    <td>@e.HireDate</td>
                    <td>@e.JobTitle</td>
                    <td>@e.Salary</td>
                    <td>@e.DepID</td>
                    <td><a class="btn btn-warning"><h5 class="bx bx-edit"></h5></a></td>
                    <td><a class="btn btn-danger"><h5 class="bx bxs-trash"></h5></a></td>
                </tr>
            }
        }
    </tbody>
</table>